<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            QR Scan App
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <button ion-button block (click)="escanear()">
        Realizar Scan
    </button>

</ion-content>