<!--
  Generated template for the GuardadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
        <ion-title>Historial</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <button ion-item *ngFor="let item of _historial; let i = index;" (click)="abrir_scan(i)">
            {{item.info}}
            <p>
                {{item.tipo}}
            </p>
        </button>
    </ion-list>

</ion-content>